<Project>
  <PropertyGroup>
    <EnableNETAnalyzers>true</EnableNETAnalyzers>
    <AnalysisMode>AllEnabledByDefault</AnalysisMode>
    <AnalysisLevel>latest</AnalysisLevel>
    <!-- Nullable can be enabled incrementally in projects -->
    <!--<Nullable>enable</Nullable>-->
  </PropertyGroup>
  <ItemGroup>
    <AdditionalFiles Include="$(MSBuildThisFileDirectory).editorconfig.smartpay.additions" />
  </ItemGroup>
</Project>